.flex{
  opacity: 1;
  display: flex;
  flex-direction: row;
  margin:0;

}

.pictures{
  display: flex;
  flex-direction: row;
  width:35%;
  height: 20vh;
  align-items: center;
  position: relative;
  margin-bottom:20px;
}

.back{
  margin-left:15px;
  margin-right:15px;
  background-color: #463F3A;
  border:solid;
  color:#FFFFFF;
  font-family: 'Poppins', sans-serif;
  border-radius: 12px;
}